* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.medsos {
    padding: 5px 0;
    background-color: rgb(4, 209, 158);
}
a {
    color:inherit;
    text-decoration: none;
}

.medsos ul li {
    display: inline-block;
    color: white;
    margin-right: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
}
.container:after {
    content: '';
    display: block;
    clear: both;
}


header h1 {
    float: left;
    padding: 5px 0;
    color: rgb(4, 209, 158);
} 

header ul {
    float: right;
}

header ul  li {
    display: inline-block;
}
header ul li a {
    padding: 15px ;
    display: inline-block;
}
header ul li a:hover {
    background-color: rgb(4, 209, 158);
    color: white;
}
.active {
    background-color: rgb(4, 209, 158);
    color: white;
}

.banner {
    height: 60vh;
    background-image: url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h2 {
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
}
.banner::after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(4, 209, 158,.3);
}

section {
    padding: 50px 0;
}

section h3{
    text-align: center;
    padding: 20px 0;
    color: rgb(4, 209, 158);
}
.about,
.service {
    padding-bottom: 100px;
}
.about p {
    margin-bottom: 20px;
    margin-top: 30px;
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
    text-align: center;
}

.service {
    background: #f0f0f0;
}
.box:after {
    content:'';
    display: block;
    clear: both;
}
.box {
    color: rgb(4, 209, 158);
    text-align: center;
}

.box .col-4 {
    float: left;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}
.icon {
    width: 70px;
    height: 70px;   
    border: 1px solid;
    border-radius: 50%;
    margin: 0 auto;
}

.box .col-4 h4 {
    margin: 20px 0;
}

footer {
    padding: 20px 0;
    background-color: #555;
    text-align: center;
    color: #fff;
}

.label {
    background-color: rgb(4, 209, 158);
    color: white;
}

/* responsif */

@media screen and (max-width:  768px){
    .container {
        width: 90%;
    }
    header h1 {
        text-align: center;
        float: none;
    }
    header ul {
        text-align: center;
        float: none;
    }
    .box .col-4{
        width: 100%;
        float: none;
        margin-top: 20px;
    }
}

@media screen and (max-width:  420px){
    .container {
        width: 90%;
    }
    header h1 {
        text-align: center;
        float: none;
    }
    header ul {
        display: flex;
        justify-content: center;
        float: none;
    }
    .banner h2 {
        width: 70%;
        text-align: center;
    }
}
